################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Study_DDD/Study_DDD.Domain/obj
/Study_DDD/.vs/Study_DDD
/Study_DDD/.vs/ProjectEvaluation
/Study_DDD/Study_DDD.Application/obj
/Study_DDD/Study_DDD.Infrastruct.Data/obj
